POSTGRES_IMAGE=pgvector/pgvector:pg15
TRINO_IMAGE=trinodb/trino:444

POSTGRES_USER=pvlakehouse
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=pvlakehouse

POSTGRES_PORT=5432
TRINO_PORT=8081